.wrapper {
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 640px;
	padding: 2rem 2rem 4rem 2rem;
	position: relative;
}
.copyright {
	position: absolute;
	bottom: 1em;
	right: 1em;
	font-size: 0.8em;
	font-weight: 100;
	color: #9d9d9d;
}

.nav {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #bdbdbd;
	padding-bottom: calc(32px * 0.8);
}

.nav > * {
	margin-left: 0.5rem;
}
.nav > *:first-child {
	margin-left: 0;
}
